<div class="container my-5">
    <h4 class="text-center mb-5">Adivina la capital</h4>
    <div class="row mb-5">
        <div class="col-6">
            <div class="card" routerLink="/america">
                <div class="card-body">
                    America
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" routerLink="/europa">
                <div class="card-body">
                    Europa
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6">
            <div class="card" routerLink="/asia">
                <div class="card-body">
                    Asia
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" routerLink="/africa">
                <div class="card-body">
                    Africa
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" routerLink="/oceania">
                <div class="card-body">
                    Oceania
                </div>
            </div>
        </div>
    </div>
</div>