<div class="container my-5">
    <h4 class="text-center mb-2 display-4">Adivina la Capital</h4>
    <h4 class="text-center mb-5">Elige un continente</h4>
    <div class="row mb-5">
        <div class="col-6 offset-3">
            <div class="card mb-3" routerLink="/america">
                <div class="card-body">
                    America
                </div>
            </div>
            <div class="card mb-3" routerLink="/europa">
                <div class="card-body">
                    Europa
                </div>
            </div>
            <div class="card mb-3" routerLink="/asia">
                <div class="card-body">
                    Asia
                </div>
            </div>
            <div class="card mb-3" routerLink="/africa">
                <div class="card-body">
                    Africa
                </div>
            </div>
            <div class="card mb-3" routerLink="/oceania">
                <div class="card-body">
                    Oceania
                </div>
            </div>
        </div>
    </div>
</div>